{% extends "base.html" %}

{% block title %}Carrito de Compras{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center"style="text-align: center; font-style: italic; font-family: 'Times New Roman', Times, serif; font-size: 50px; background-color: rgba(192, 211, 227, 0.575);">Carrito de Compras</h1>
    
    {% if carrito %}
        <!-- Tabla con diseño mejorado -->
        <div class="table-responsive mt-4">
            <table class="table table-hover text-center align-middle">
                <thead class="table-dark">
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in carrito %}
                    <tr>
                        <td>{{ item['nombre'] }}</td>
                        <td>{{ item['cantidad'] }}</td>
                        <td>{{ item['precio_unitario'] | format_clp }}</td>
                        <td>
                            <form action="{{ url_for('eliminar_unidad', producto_id=item['id']) }}" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Total y acciones -->
            <p class="fs-4 fw-bold text-primary" style="text-align: center; font-size: 30px;background-color: rgba(192, 211, 227, 0.575); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Total del Carrito: {{ total | format_clp }}</p>
            <div class="d-flex justify-content-between">
                <!-- Botón para regresar al menú -->
                <a href="{{ url_for('menu') }}" class="btn btn-secondary btn-lg">Volver al Menú</a>

                <!-- Botón para vaciar el carrito -->
                <form action="{{ url_for('vaciar_carrito') }}" method="post">
                    <button type="submit" class="btn btn-danger btn-lg">Vaciar Carrito</button>
                </form>
                
                <!-- Botón para terminar y pagar -->
                <form method="GET" action="{{ url_for('simulacion_pago') }}">
                    <button type="submit" class="btn btn-primary btn-lg">Terminar y Pagar</button>
                </form>
            </div>
        
    {% else %}
        <div class="text-center mt-4">
            <p class="fs-4 text-muted">Tu carrito está vacío.</p>
            <a href="{{ url_for('menu') }}" class="btn btn-primary btn-lg">Volver al Menú</a>
        </div>
    {% endif %}
</div>
{% endblock %}
