{% extends "base.html" %}

{% block title %}Inicio - El Rincón del Goloso{% endblock %}

{% block content %}
<div class="home-container">
    <div class="text-center">
        <h1 class="welcome-title">Bienvenido a El Rincón del Goloso</h1>
        <p class="welcome-text">Explora nuestro delicioso menú y realiza tu pedido.</p>
    </div>

    <!-- Botón centrado para realizar un pedido -->
    <div class="center-button">
        <button class="btn btn-success btn-lg" onclick="window.location.href='{{ url_for('menu') }}'">
            REALIZAR PEDIDO
        </button>
    </div>
</div>
{% endblock %}
